USE [master]
GO
/****** Object:  Database [Webapp_cnpm]    Script Date: 11/20/2025 9:48:09 PM ******/
CREATE DATABASE [Webapp_cnpm]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Webapp_cnpm].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Webapp_cnpm]
GO
/****** Object:  Table [dbo].[CartItems]    Script Date: 11/20/2025 9:48:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItems](
	[cartItemId] [int] IDENTITY(1,1) NOT NULL,
	[cartId] [int] NOT NULL,
	[productId] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[price] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[cartItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 11/20/2025 9:48:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[cartId] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[totalPrice] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[cartId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 11/20/2025 9:48:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[categoryId] [int] IDENTITY(1,1) NOT NULL,
	[categoryName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[categoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Deliveries]    Script Date: 11/20/2025 9:48:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deliveries](
	[deliveryId] [int] IDENTITY(1,1) NOT NULL,
	[orderId] [int] NOT NULL,
	[droneId] [int] NULL,
	[deliveryStatus] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[deliveryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Drones]    Script Date: 11/20/2025 9:48:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drones](
	[droneId] [int] IDENTITY(1,1) NOT NULL,
	[status] [nvarchar](50) NULL,
	[currentLocation] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[droneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 11/20/2025 9:48:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[orderItemId] [int] IDENTITY(1,1) NOT NULL,
	[orderId] [int] NOT NULL,
	[productId] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[price] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[orderItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 11/20/2025 9:48:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[orderId] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[orderDate] [datetime] NULL,
	[status] [nvarchar](50) NULL,
	[totalPrice] [float] NULL,
	[deliveryAddress] [nvarchar](255) NULL,
	[recipientName] [varchar](255) NULL,
	[recipientPhone] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[orderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 11/20/2025 9:48:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[paymentId] [int] IDENTITY(1,1) NOT NULL,
	[orderId] [int] NOT NULL,
	[paymentMethod] [varchar](255) NULL,
	[paymentDate] [datetime] NULL,
	[amount] [float] NULL,
	[status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[paymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 11/20/2025 9:48:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[productId] [int] IDENTITY(1,1) NOT NULL,
	[productName] [varchar](255) NULL,
	[description] [nvarchar](255) NULL,
	[price] [float] NULL,
	[imageUrl] [nvarchar](255) NULL,
	[isAvailable] [bit] NULL,
	[categoryId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[productId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/20/2025 9:48:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[userId] [int] IDENTITY(1,1) NOT NULL,
	[fullName] [varchar](255) NULL,
	[email] [nvarchar](100) NOT NULL,
	[password] [varchar](255) NULL,
	[phone] [varchar](255) NULL,
	[address] [nvarchar](255) NULL,
	[role] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CartItems] ON 

INSERT [dbo].[CartItems] ([cartItemId], [cartId], [productId], [quantity], [price]) VALUES (9, 4, 2, 1, 95000)
INSERT [dbo].[CartItems] ([cartItemId], [cartId], [productId], [quantity], [price]) VALUES (10, 4, 3, 1, 75000)
INSERT [dbo].[CartItems] ([cartItemId], [cartId], [productId], [quantity], [price]) VALUES (11, 4, 4, 1, 35000)
SET IDENTITY_INSERT [dbo].[CartItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Carts] ON 

INSERT [dbo].[Carts] ([cartId], [userId], [totalPrice]) VALUES (1, 1, CAST(325000.00 AS Decimal(10, 2)))
INSERT [dbo].[Carts] ([cartId], [userId], [totalPrice]) VALUES (2, 2, CAST(4095000.00 AS Decimal(10, 2)))
INSERT [dbo].[Carts] ([cartId], [userId], [totalPrice]) VALUES (3, 3, CAST(0.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Carts] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([categoryId], [categoryName]) VALUES (3, N'Drink')
INSERT [dbo].[Categories] ([categoryId], [categoryName]) VALUES (1, N'Fried_Chicken')
INSERT [dbo].[Categories] ([categoryId], [categoryName]) VALUES (2, N'Spaghetti')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Deliveries] ON 

INSERT [dbo].[Deliveries] ([deliveryId], [orderId], [droneId], [deliveryStatus]) VALUES (1, 1, 1, N'Delivered')
INSERT [dbo].[Deliveries] ([deliveryId], [orderId], [droneId], [deliveryStatus]) VALUES (2, 2, NULL, N'Pending')
INSERT [dbo].[Deliveries] ([deliveryId], [orderId], [droneId], [deliveryStatus]) VALUES (3, 3, 2, N'In Transit')
SET IDENTITY_INSERT [dbo].[Deliveries] OFF
GO
SET IDENTITY_INSERT [dbo].[Drones] ON 

INSERT [dbo].[Drones] ([droneId], [status], [currentLocation]) VALUES (1, N'Idle', N'Hà Nội')
INSERT [dbo].[Drones] ([droneId], [status], [currentLocation]) VALUES (2, N'Idle', N'TP. HCM')
INSERT [dbo].[Drones] ([droneId], [status], [currentLocation]) VALUES (3, N'Idle', N'Đà Nẵng')
SET IDENTITY_INSERT [dbo].[Drones] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItems] ON 

INSERT [dbo].[OrderItems] ([orderItemId], [orderId], [productId], [quantity], [price]) VALUES (1, 1, 1, 1, 65000)
INSERT [dbo].[OrderItems] ([orderItemId], [orderId], [productId], [quantity], [price]) VALUES (2, 1, 3, 1, 75000)
INSERT [dbo].[OrderItems] ([orderItemId], [orderId], [productId], [quantity], [price]) VALUES (3, 1, 5, 1, 20000)
SET IDENTITY_INSERT [dbo].[OrderItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([orderId], [userId], [orderDate], [status], [totalPrice], [deliveryAddress], [recipientName], [recipientPhone]) VALUES (1, 1, CAST(N'2025-10-14T00:00:00.000' AS DateTime), N'Delivering', 160000, N'Hà Nội', N'Nguy?n Van A', N'0901111111')
INSERT [dbo].[Orders] ([orderId], [userId], [orderDate], [status], [totalPrice], [deliveryAddress], [recipientName], [recipientPhone]) VALUES (2, 1, CAST(N'2025-10-13T00:00:00.000' AS DateTime), N'Pending', 95000, N'Hà Nội', N'Nguy?n Van A', N'0901111111')
INSERT [dbo].[Orders] ([orderId], [userId], [orderDate], [status], [totalPrice], [deliveryAddress], [recipientName], [recipientPhone]) VALUES (3, 2, CAST(N'2025-10-14T00:00:00.000' AS DateTime), N'Completed', 195000, N'TP. HCM', N'Tr?n Th? B', N'0902222222')
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([paymentId], [orderId], [paymentMethod], [paymentDate], [amount], [status]) VALUES (1, 1, N'VNPAY', CAST(N'2025-10-14T00:00:00.000' AS DateTime), 160000, N'PAID')
INSERT [dbo].[Payments] ([paymentId], [orderId], [paymentMethod], [paymentDate], [amount], [status]) VALUES (2, 2, N'COD', NULL, 95000, N'PAID')
INSERT [dbo].[Payments] ([paymentId], [orderId], [paymentMethod], [paymentDate], [amount], [status]) VALUES (3, 3, N'VNPAY', CAST(N'2025-10-14T00:00:00.000' AS DateTime), 195000, N'PAID')
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([productId], [productName], [description], [price], [imageUrl], [isAvailable], [categoryId]) VALUES (1, N'Combo Gà Giòn - 1 mi?ng', N'1 miếng gà + 1 pepsi', 65000, N'../../public/menu/chickens/combo_1_mieng_ga_gion.jpg', 1, 1)
INSERT [dbo].[Products] ([productId], [productName], [description], [price], [imageUrl], [isAvailable], [categoryId]) VALUES (2, N'Combo Gà Giòn - 2 mi?ng', N'2 miếng gà + 1 khoai tây', 95000, N'../../public/menu/chickens/combo_2_mieng_ga_gion.jpg', 1, 1)
INSERT [dbo].[Products] ([productId], [productName], [description], [price], [imageUrl], [isAvailable], [categoryId]) VALUES (3, N'1 mi?ng gà giòn', N'Gà giòn - Phần gà được phục vụ ngẫu nhiên', 35000, N'../../public/menu/chickens/1_mieng_ga_gion.jpg', 1, 1)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([userId], [fullName], [email], [password], [phone], [address], [role]) VALUES (1, N'Nguyen Van A', N'a@gmail.com', N'pass1', N'0901111111', N'Hà Nội', N'ADMIN')
INSERT [dbo].[Users] ([userId], [fullName], [email], [password], [phone], [address], [role]) VALUES (2, N'Tran Thi Bich', N'b@gmail.com', N'123', N'0902222222', N'TP. HCM', N'USER')
INSERT [dbo].[Users] ([userId], [fullName], [email], [password], [phone], [address], [role]) VALUES (3, N'Le Van C', N'c@gmail.com', N'pass3', N'0903333333', N'Đà Nẵng', N'USER')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Categori__37077ABD8DB48B1A]    Script Date: 11/20/2025 9:48:10 PM ******/
ALTER TABLE [dbo].[Categories] ADD UNIQUE NONCLUSTERED 
(
	[categoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__AB6E6164C9B3E269]    Script Date: 11/20/2025 9:48:10 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Carts] ADD  DEFAULT ((0)) FOR [totalPrice]
GO
ALTER TABLE [dbo].[Deliveries] ADD  DEFAULT ('WAITING') FOR [deliveryStatus]
GO
ALTER TABLE [dbo].[Drones] ADD  DEFAULT ('AVAILABLE') FOR [status]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [orderDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [paymentDate]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((1)) FOR [isAvailable]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD FOREIGN KEY([cartId])
REFERENCES [dbo].[Carts] ([cartId])
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD FOREIGN KEY([productId])
REFERENCES [dbo].[Products] ([productId])
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD FOREIGN KEY([userId])
REFERENCES [dbo].[Users] ([userId])
GO
ALTER TABLE [dbo].[Deliveries]  WITH CHECK ADD FOREIGN KEY([droneId])
REFERENCES [dbo].[Drones] ([droneId])
GO
ALTER TABLE [dbo].[Deliveries]  WITH CHECK ADD FOREIGN KEY([orderId])
REFERENCES [dbo].[Orders] ([orderId])
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD FOREIGN KEY([orderId])
REFERENCES [dbo].[Orders] ([orderId])
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD FOREIGN KEY([productId])
REFERENCES [dbo].[Products] ([productId])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([userId])
REFERENCES [dbo].[Users] ([userId])
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([orderId])
REFERENCES [dbo].[Orders] ([orderId])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([categoryId])
REFERENCES [dbo].[Categories] ([categoryId])
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD CHECK  (([quantity]>(0)))
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD CHECK  (([quantity]>(0)))
GO
USE [master]
GO
